<!DOCTYPE html>
<html>

<head>
    <title>Minhas avaliações</title>
</head>

<body>

<h1>Olá, <%= usuario.nome %>!</h1>

<h2>Minhas avaliações</h2>


<% if(avaliacoes.length == 0){ %>

<p>Você ainda não fez nenhuma avaliação.</p>

<% } %>

<% avaliacoes.forEach(avaliacao => { %>

<hr>

<h3><%= avaliacao.titulo %></h3>

<p><b>Tipo:</b> <%= traduzirTipo(avaliacao.tipo) %></p>

<p><b>Nota:</b> <%= avaliacao.nota %>/5</p>

<p><%= avaliacao.comentario %></p>

<a href="/editar/<%= avaliacao.idAvaliacao %>">
Editar
</a>

|

<a href="/excluir/<%= avaliacao.idAvaliacao %>">
Excluir
</a>

<% }) %>

<br><br>

<a href="/home">Voltar</a>

</body>

</html>

