<!DOCTYPE html>
<html>

<head>
    <title><%= item.name %></title>
</head>

<body>

<h1><%= item.name %></h1>

<% if (item.images && item.images.length > 0) { %>

    <img
        src="<%= item.images[0].url %>"
        width="250"
    >

<% } %>

<p>Tipo: <%= tipo %></p>

<a href="/avaliar/<%= tipo %>/<%= item.id %>">
    Avaliar
</a>

<br><br>

<a href="/home">
    Voltar
</a>

</body>

</html>