<!DOCTYPE html>
<html>

<head>
    <title>Resultados</title>
</head>

<body>

<h1>Resultados da pesquisa</h1>

<h2>🎤 Artistas</h2>

<% artistas.forEach(artista => { %>

    <div>

        <% if (artista.images.length > 0) { %>

            <img src="<%= artista.images[0].url %>" width="120">

        <% } %>

        <h3><%= artista.name %></h3>

        <a href="/detalhes/artist/<%= artista.id %>">
            Abrir
        </a>

    </div>

    <hr>

<% }) %>


<h2>💿 Álbuns</h2>

<% albuns.forEach(album => { %>

    <div>

        <% if (album.images.length > 0) { %>

            <img src="<%= album.images[0].url %>" width="120">

        <% } %>

        <h3><%= album.name %></h3>

        <p><%= album.artists[0].name %></p>

        <a href="/detalhes/album/<%= album.id %>">
            Abrir
        </a>

    </div>

    <hr>

<% }) %>


<h2>🎵 Músicas</h2>

<% musicas.forEach(musica => { %>

    <div>

        <h3><%= musica.name %></h3>

        <p><%= musica.artists[0].name %></p>

        <p><%= musica.album.name %></p>

        <a href="/detalhes/track/<%= musica.id %>">
            Abrir
        </a>

    </div>

    <hr>

<% }) %>

<a href="/home">Nova pesquisa</a>

</body>
</html>